.login {
    width: 650px;
    margin: 0 auto;
    margin-top: 8%;
    border-radius: 30px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #dee2e6;
    gap: 5px;
  }

  .login input {
      border-radius: 10px;
      border: 2px solid silver;
      font-size: 20px;
  }

  .error-text {
    color: #d6336c;
    text-align: center;
    margin: 0;
  }